.settings
.DS_store
build/*
build/*
build
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*
gradlew
gradlew.bat
/gradle
.gradle
/User-service/src/main/resources/bruno/Create WaterUser-Extended.bru
